@media (max-width: 402px) {
    body {overflow: scroll;}
    .card_box {
        max-width: 402px;
        height: 100vh;
        background: none;
        border: none;
        box-shadow: none;
    }
    .box_header {
        height: 60px;
        background: #cde1ff;
        border-bottom: 1px solid #878f9b;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 40px;
    }

    /* header */
    header {display: none;}

    /* main */
    #main .main_text h1 {font-size: 30px;}
    #main .main_text h1::before,
    #main .main_text h1::after
    {display: none;}
    #main .main_text .web {display: none;}
    #main .main_text .mobile {
        display: block;
        font-size: 14px;
    }
    #main .main_contents {
        width: 341px;
        height: 482px;
        background: none;
        border: none;
        box-shadow: none;
        display: block;
    }
    .inner_cont .main_card1,
    .inner_cont .main_card2,
    .inner_cont .main_card3 {
        width: 167px;
        height: 218px;
        background: #fff;
        overflow: hidden;
        display: block;
        flex-direction: column;
    }
    
}