@charset "utf-8";

* {box-sizing: border-box;}
html {
  scroll-behavior: smooth;
}
body {
    overflow: hidden;}
section {
    background: var(--background);
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    padding-top: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner {
    max-width: 1200px;
    padding-top: 80px;
    padding-bottom: 30px;
    margin: 0 auto;
}
.card_box {
    width: 1200px;
    height: 786px;
    background: #fff;
    border: 1px solid #878f9b;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    top: 0;
}
.box_header {
    height: 84px;
    background: #cde1ff;
    border-bottom: 1px solid #878f9b;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 40px;
}
.box_header p {
    font-family: 'Press Start 2P';
    font-size: 40px;
    color: var(--point-color);
    -webkit-text-stroke: 1px #000;
    text-shadow: 3px 3px 3px rgb(72,119,239);
    padding-left: 10px;
}
.box_header img:nth-child(2) {margin-right: 10%;}
.inner_content {
    width: 1100px;
    height: 635px;
    background: #cde1ff;
    border: 2px solid #878f9b;
    border-radius: 10px;
    position: absolute;
    top: 15%;
    left: 4%;
    box-shadow: inset 5px 5px 0 #fff,
    inset -5px -5px 0 #6a94ff;
}
.view {
    width: 165px;
    height: 40px;
    background: linear-gradient(#d2e4ff, #edf4ff);
    border: 1px solid #6a94ff;
    border-radius: 100px;
    box-shadow: inset 2px 2px 0 #ffff,
    2px 2px 0 #6a94ff;
    font-family: 'Press Start 2P';
    font-size: 15px;
    color: #fff;
    -webkit-text-stroke: 1px #4877EF;
    text-shadow: 2px 2px 0 #4877EF;
    margin-bottom: 24px;
    margin-left: 210px;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.right_cont .txt {margin-bottom: 25px;}
.txt_name {
    font-family: 'Press Start 2P';
    font-size: 16px;
    color: var(--point-color);
    /* -webkit-text-stroke: 0.5px #fff; */
    text-shadow: 3px 3px 2px #fff;
    margin-bottom: 15px;
}
.cont_title {
    font-size: 30px;
    letter-spacing: 5%;
    color: var(--point-color);
    -webkit-text-stroke: 1px #000;
    text-shadow: 3px 3px 2px #4877EF;
    position: relative;
    margin-bottom: 25px;
}
.cont_title::before {
    background: url(../img/icon/place_ico_bot.png) no-repeat center;
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: -13%;
}

/* main */
#main .main_text {
    margin-bottom: 25px;
    position: relative;
}
#main .main_text h1 {
    font-size: 80px;
    font-family: 'Press Start 2P';
    color: #fff;
    text-align: center;
    text-shadow: 4px 4px 4px rgb(72,119,239);
    margin-bottom: 40px;
}
#main .main_text h1::after {
    content: '';
    background: url(../img/icon/ico.png) no-repeat center;
    width: 405px;
    height: 70px;
    position: absolute;
    top: 5%;
    left: -10%;
}
#main .main_text h1::before {
    content: '';
    background: url(../img/icon/ico.png) no-repeat center;
    width: 405px;
    height: 70px;
    position: absolute;
    top: 5%;
    right: -10%;
}
#main .main_text .web {
    font-size: 16px;
    font-family: 'Press Start 2P';
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 0 rgb(72,119,239);
}
#main .main_text .mobile {display: none;}
#main .main_contents {
    width: 1200px;
    height: 638px;
    background: linear-gradient(#4877EF, #CDE1FF, #FFFFFF);
    border: 1px solid #878f9b;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
#main .main_contents .inner_cont {
    display: flex;
    gap: 17px;
}
.inner_cont .main_card1,
.inner_cont .main_card2,
.inner_cont .main_card3 {
    position: relative;
    width: 362px;
    height: 475px;
    background: #fff;
    border: 1px solid #6a94ff;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.5), inset -4px -4px 0 rgb(205,225,255);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.card_header {
    height: 48px;
    background: #cde1ff;
    border-bottom: 1px solid #d9d9d9;
    box-shadow: inset 2px 4px 0 rgb(255,255,255);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 40px;
}
.card_header p {
    font-family: 'Press Start 2P';
    font-size: 18px;
    color: var(--point-color);
    -webkit-text-stroke: 1px #000;
    text-shadow: 3px 3px 3px rgb(72,119,239);
}
.card_img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner_cont li a {
    position: absolute;
    bottom: 10%;
    left: 20%;
    width: 214px;
    height: 45px;
    border: 1px solid #000;
    border-radius: 40px;
    background: var(--button-color);
    box-shadow: 2px 2px 2px #000;
    font-size: 15px;
    color: #fff;
    -webkit-text-stroke: 1px #000;
    text-shadow: 2px 2px 0 #000;
    font-family: 'Press Start 2P';
    display: flex;
    justify-content: center;
    align-items: center;
}

/* cafe */
#cafe .box_header p {
    margin-right: 52%;
}
#cafe .inner_content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 190px;
}
.left_cont {position: relative;}
.left_cont::before {
    content: '';
    background: url(../img/sec1_1.png) no-repeat center;
    width: 246px;
    height: 335px;
    position: absolute;
    top: -10%;
    right: -40%;
}
.left_cont .left {
    position: absolute;
    top: 50%;
    left: 5%;
    width: 30px;
    height: 30px;
    background: url(../img/icon/place_button_left.png) no-repeat center;
    z-index: 10;
}
.left_cont .right {
    position: absolute;
    top: 50%;
    right: 8%;
    width: 30px;
    height: 30px;
    background: url(../img/icon/place_button_right.png) no-repeat center;
    z-index: 10;
}
.right_cont {
    position: relative;
}
.right_cont::before {
    content: '';
    background: url(../img/sec1_2.png) no-repeat center;
    width: 326px;
    height: 400px;
    position: absolute;
    bottom: -10%;
    left: -48%;
}
.right_cont > a {
  position: absolute;
  top: -3%;
  right: 0;      /* 세로 가운데 */

}
.right_cont .text_box {
    width: 380px;
    height: 455px;
    background: linear-gradient(#cde1ff, #fff);
    border: 1px solid #4877EF;
    border-radius: 10px;
    box-shadow: inset 4px 8px 0 #fff,
    inset -5px -5px #cde1ff;
    margin-top: 50px;
}
.txt_cont {margin: 50px 0 0 55px;}

/* propshop */
#propShop .box_header p {
    margin-right: 400px;
}
.propInner .cont_title::before {
    background: url(../img/icon/place_ico_bot.png) no-repeat center;
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: -10%;
    left: 65%;
}
#propShop .inner_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.inner_top {
    display: flex;
    gap: 430px;
}
.inner_content .propInner {
    margin-left: 70px;
}
.prop_cont {
    display: flex;
    justify-content: space-between;;
}
.prop_cont .txt {margin-bottom: 20px;}
.prop_cont .card2 .txt {margin-bottom: 70px;}
.prop_card {
    display: flex;
    flex-direction: column;
    width: 270px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
    padding: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}
.prop_card:hover {
    transform: translateY(-15px);
    box-shadow: 0 15px 25px rgba(0,0,0,0.3);
}

/* lpbar */
#lpBar .box_header p {
    margin-right: 520px;
}
#lpBar .inner_top {margin-top: 50px;}
#lpBar .inner_top .cont_title::before {
    background: url(../img/icon/place_ico_bot.png) no-repeat center;
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: -10%;
    left: 65%;
}
#lpBar .inner_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.lp_cont .bar_place {
    display: flex;
    gap: 20px;
}
.bar_place .lp_card {
    width: 305px;
    height: 430px;
    background: #fff;
    border: 1px solid #4877EF;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 60px;
}
.lp_card .lp_contents1 .music img,
.lp_card .lp_contents3 .music img {
    margin-bottom: 10px;
}
.lp_card .txt {margin-bottom: 10px;}
.lp_card .txt .txt_name {
    color: #fff;
    -webkit-text-stroke: 0.5px var(--point-color);
    text-shadow: 3px 3px 2px var(--point-color);
}
.lp_card .lp_contents2 .music img {
    margin-top: -20px;
    margin-bottom: 30px;
}
.music {
    position: relative;
}
.music .pause {
    position: absolute;
    top: 40%;
    left: 32%;
    width: 40px;
    height: 40px;
    background: url(../img/icon/place_ico_pause.png) no-repeat center;
}
.music .play {
    position: absolute;
    top: 40%;
    left: 52%;
    width: 40px;
    height: 40px;
    background: url(../img/icon/place_ico_play.png) no-repeat center;
}
.music .play2,
.music .pause2 {
    top: 34%;
}

/* footer */
#footer {
    padding: 0px 100px;
    height: 300px;
}